USE [POSSystem]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReturnType] [nvarchar](50) NOT NULL,
	[OriginalDocNum] [nvarchar](50) NULL,
	[OriginalDocId] [int] NULL,
	[UnlinkedHeaderId] [int] NULL,
	[ItemId] [int] NOT NULL,
	[Qty] [decimal](19, 6) NOT NULL,
	[PriceSell] [decimal](19, 6) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Returns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE NONCLUSTERED INDEX [NonClusteredIndex-20220820-162818] ON [dbo].[Returns]
(
	[OriginalDocNum] ASC,
	[OriginalDocId] ASC,
	[UnlinkedHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
